#myVideo {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.logo {
    height: 100px;
    align-content: center;
    border-style: solid;
    border-width: 4px;
    border-color: white;
}

h1 {
    text-align: center;
    font-family: 'Metamorphous', cursive;
    background-color: black;
    color: whitesmoke;
    font-size: 75px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}
.warImage {
    height: 200px;
}
label {
    font-size: 20px;
    font-family: 'Metamorphous', cursive;
    color: whitesmoke;
}
h2 {
    text-align: center;
    font-family: 'Metamorphous', cursive;
    color: whitesmoke;
    font-size: 35px;
}
#setPlayerName1 {
    font-family: 'Metamorphous', cursive;
    color: lightgreen;
    font-size: 20px;

}
#setPlayerName2 {
    font-family: 'Metamorphous', cursive;
    color: red;
    font-size: 20px;

}
.fighters {
    border-style: solid;
    border-width: 5px;
    border-color: green;
    background-color: black;
}
.fighters2 {
    border-style: solid;
    border-width: 5px;
    border-color: red;
    background-color: black;
}

#assigned-name1 {
    font-size: 20px;
    color: green;
    font-family: 'Metamorphous', cursive;
}
#assigned-name2 {
    font-size: 20px;
    color: green;
    font-family: 'Metamorphous', cursive;
}
#assigned-name3 {
    font-size: 20px;
    color: green;
    font-family: 'Metamorphous', cursive;
}
#assigned-name4 {
    font-size: 20px;
    color: green;
    font-family: 'Metamorphous', cursive;
}
#assigned-name12 {
    font-size: 20px;
    color: red;
    font-family: 'Metamorphous', cursive;
}
#assigned-name22 {
    font-size: 20px;
    color: red;
    font-family: 'Metamorphous', cursive;
}
#assigned-name32 {
    font-size: 20px;
    color: red;
    font-family: 'Metamorphous', cursive;
}
#assigned-name42 {
    font-size: 20px;
    color: red;
    font-family: 'Metamorphous', cursive;
}
p {
    font-size: 20px;
    color: white;
    font-family: 'Metamorphous', cursive;
    background-color: black;
}
.cardText {
    line-break: strict;
    font-size: 10px;
    color: white;
    font-family: 'Metamorphous', cursive;
    
}
.cardImage {
    width: 200px;
}
.card {
    background-image: url("Images/leather.jpg")
}
.weapon1 {
    font-size: 10px;
    font-family: 'Metamorphous', cursive;

}
.weapon1 {
    font-size: 10px;
    font-family: 'Metamorphous', cursive;

}
.weapon2 {
    font-size: 10px;
    font-family: 'Metamorphous', cursive;

}
h3 {
    font-size: 30px;
    font-family: 'Metamorphous', cursive;
    color: green;

}
.winnerText {
    text-align: center;
    font-size: 30px;
    font-family: 'Metamorphous', cursive;
}
#playerGreen {
    color: green;
}
#playerRed {
    color: red;
}
#chat-area {
    color: whitesmoke;
    font-family: 'Metamorphous', cursive;
    font-size: 15px;
}
.chatLabel {
    color: whitesmoke;
    font-family: 'Metamorphous', cursive;
    font-size: 25px;
}
#chat-send {
    font-family: 'Metamorphous', cursive;
  
}
#chatDisplay {
    font-family: 'Metamorphous', cursive;

}
#player1Wins {
    color: green;
}
#player2Wins {
    color: red;
}
#sword {
    height: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: gold;
}
 #challenger {
    border-style: solid;
    border-width: 3px;
    border-color: gold;
    display: none;
}
#setup {
    font-size: 15px;
    border-style: solid;
    border-width: 4px;
    border-color: whitesmoke;
}
#card1 {
    border-style: solid;
    border-width: 2px;
    border-color: green;
}
#card2 {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}
#fight {
    border-style: solid;
    border-color: gold;
    border-width:2px;
    width: 150px;
}
